<h3>List 9</h3>
<p>Selected Car: {{selectedCar||'none'}}</p>

<p-dropdown #dd
  [options]="cars"
  [(ngModel)]="selectedCar"
  [style]="{'width':'100%'}"
  scrollHeight="400px"
  filter="true"
  filterBy="value,label"
  resetFilterOnHide="true"
  >
    <ng-template let-item pTemplate="selectedItem">
        {{(item.title) ? 'TODO' : item.label}}
    </ng-template>
    <ng-template let-car pTemplate="item">
      <div class="item-drop1">
        <mat-list-item>
            <span class="item-value1">{{car.value}}</span>
            <span *ngIf="car.value != '(TODO)'">{{car.label}}</span>
        </mat-list-item>
      </div>
    </ng-template>    
</p-dropdown>
<br>
<div style="height:600px">
Im here to create space for scroll
</div>
